<header class="header">
    <div class="header-left">
        <h1 id="page-title">Dashboard | Coordenador</h1>
    </div>

    <div class="header-right">
        <a href="#" class="link-item">
            <img src="../../assets/icons/notification-icon-fill.svg" alt="Ícone Notificação" id="notification-icon">
        </a>

        <a href="#" class="link-item">
           <span id="header-username">Username</span>
            <img src="../../assets/icons/account-icon-fill.svg" alt="Ícone Usuário">
        </a>
    </div>
</header>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const usernameElement = document.getElementById("header-username");
        const nomeSessao = sessionStorage.getItem("NOME_USUARIO");

        if (usernameElement) {
            usernameElement.textContent = nomeSessao ? nomeSessao : "Usuário";
        }
    });
</script>