:root{
    --main-color: #1E3A8A;
    --secondary-color: #97b7eb;
    --text-color: #FFF;
    --background-color: #E5E7EB;
    --button-color: #455881;
}

*{
    box-sizing: border-box; 
}

body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    width: 100%;
}

header img{
    width: 60px;
    height: auto;
}

nav{
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 15px; 
}

nav a{
    text-decoration: none;
    color: var(--button-color);
}

nav button{
    display: flex;
    background-color: transparent;
    border: none;
}

nav button img{
    width: 50px;
    height: auto;
}

