.header {
    position: fixed;

    top: 0;
    left: 240px;

    width: calc(100% - 220px);
    height: 70px;

    background-color: white;

    border-bottom: 1px solid #ddd;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    z-index: 1000;
}

.header h1 {
    font-size: 20px;
}

.header-right {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header-right a {
    text-decoration: none;
}

.link-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #000;
}

.link-item img {
    width: 38px;
    margin-left: 5px;
}

.link-item span {
    font-weight: 600;
    font-size: 0.9rem;
}

.link-item span:hover {
    text-decoration: underline;
}

#notification-icon {
    width: 24px;
}