<aside class="sidebar">
    <header class="sidebar-header">
        <img src="/assets/icons/logo.png" alt="Logo">
        <span>Conexão Acadêmica</span>
    </header>

    <nav class="sidebar-main">

        <a href="/pages/administradores/administradorConexao.html?layout=administrador_sistema" class="link-box">
            <img src="/assets/icons/planner-icon.svg" alt="Ícone Painel">
            <span>Painel</span>
        </a>

        <a href="/pages/cargos.html?layout=administrador_sistema" class="link-box">
            <img src="/assets/icons/icon-cargo.png" alt="Ícone Cargo">
            <span>Cargos</span>
        </a>

        <a href="/pages/informacoes-da-conta.html?layout=administrador_sistema" class="link-box">
            <img src="/assets/icons/person-icon.svg" alt="Ícone Conta">
            <span>Conta</span>
        </a>

    </nav>

    <footer class="sidebar-footer" onclick="sair()">
        <img src="/assets/icons/logout-icon.svg" alt="Logout">
        <span>Sair</span>
    </footer>
</aside>