* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
  
}

.main-content {

    margin-left: 240px;
    margin-top: 70px;

    padding: 30px;

}
