/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F5F5F5;
}

/* ================= HEADER ================= */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    width: 40px;
}

header ul {
    display: flex;
    gap: 40px;
}

header ul a {
    text-decoration: none;
    color: #2f3e63;
    font-weight: 500;
}

a:hover{
    color: #1956f0;
}

/* ================= MAIN ================= */

main {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 420px;
}

.titulo {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

/* ================= INPUTS ================= */

input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 20px;
    border: 1px solid #ADB1BB;
    background-color: white;
    font-size: 14px;
    outline: none;
}

/* ================= BOTÃO ================= */

button {
    width: 60%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: #2f3e63;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #253352;
}

/* ================= TEXTO INFERIOR ================= */
.tex{
    font-size: 13px;
    color: #333;
    text-align: left;
    width: 100%;
    padding: 12px 15px;
    font-weight: bold;
}

.tex.b{
    color: rgb(114, 6, 6);
    font-weight: 100;
}

.tex.b.s{
    text-align: center;
}

.sub {
    font-size: 13px;
    color: #333;
}

.link {
    font-size: 13px;
    color: #2f3e63;
    text-decoration: none;
    font-weight: 500;
}

.link:hover {
    text-decoration: underline;
}

.senha-box {
    position: relative;
    width: 100%;
}

.senha-box input {
    width: 100%;
    padding: 12px 45px 12px 15px; /* espaço para o olho */
    border-radius: 30px;
    border: 1px solid #ADB1BB;
    background-color: white;
    font-size: 14px;
    outline: none;
}

.olho-senha {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    cursor: pointer;
}