* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: #fcfcfc;
    overflow-x: hidden;
}

.content-wrapper {
    margin-left: 250px; 
    padding-top: 40px;  
    min-height: 100vh;
    display: flex;
    justify-content: center; 
}

.main-container {
    width: 90%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}


.titulo-pagina {
    align-self: flex-start; 
    margin-bottom: 50px;
}

.titulo-pagina h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #000;
}

.titulo-pagina p {
    color: #888;
    font-size: 16px;
    margin-top: 5px;
}

.kpi-section {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 60px;
    width: 100%;
}

.kpi-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 25px;
    width: 260px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05); 
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}

.icon-box {
    width: 35px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.icon-box.blue { background-color: #e0e7ff; }
.icon-box.green { background-color: #dcfce7; }
.icon-box.purple { background-color: #f3e8ff; }

.kpi-value {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    line-height: 1.2;
}

.kpi-label {
    font-size: 14px;
    color: #aaa;
    margin-top: 5px;
}

.lista-section {
    width: 100%;
}

.instituicao-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 35px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05);
}

.inst-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.inst-logo-placeholder {
    background-color: #f2f2f2;
    width: 180px;
    height: 110px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
}

.inst-logo-placeholder img {
    width: 60px;
    opacity: 0.8;
}

.inst-text h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.inst-text p {
    color: #999;
    font-size: 15px;
}

.btn-acessar {
    background-color: #1E3A8A; 
    color: white;
    border: none;
    padding: 14px 40px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: background 0.3s;
    text-decoration: none;
}

.btn-acessar:hover {
    background-color: #1a2c66;
}

.btn-acessar span {
    font-size: 20px;
}