* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: #fcfcfc;
    color: #333;
}

.container {
    margin-left: 250px;
    padding-top: 100px; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-nav,
.titulo-sessao,
.divider,
.categoria {
    width: 90%;
    max-width: 1100px;
}

.header-nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

.btn-voltar {
    text-decoration: none;
    color: #888;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-voltar:hover {
    color: #243b8a;
}

.acoes-topo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.titulo-sessao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    gap: 20px;
}

.info-texto h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 700;
}

.info-texto p {
    color: #888;
    font-size: 16px;
}

.btn-adicionar {
    background-color: #243b8a;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.divider {
    border: none;
    border-top: 2px solid #f0f0f0;
    margin-bottom: 40px;
}

.categoria {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    gap: 20px;
}

.categoria-titulo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.categoria-titulo img {
    width: 23px;
    height: 23px;
}

.pessoa-card {
    background: #fff;
    border: 1px solid #eef0f2;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;      
    align-items: center;       
    justify-content: space-between; 
    gap: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin-top: 10px;
}

.pessoa-info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.avatar-box {
    width: 65px;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
}

.avatar-box.blue { background-color: #e0e7ff; border-color: #243b8a; }
.avatar-box.purple { background-color: #f3e8ff; border-color: #9333ea; }
.avatar-box.green { background-color: #d1fae5; border-color: #10b981; }

.avatar-box img {
    width: 22px;
    height: 22px;
}

.badges {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.badge {
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 700;
}

.toggle-switch {
    position: relative;
    display: flex;
    width: 42px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    border-radius: 24px;
    transition: 0.3s;
}

.toggle-slider::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.toggle-switch input:checked + .toggle-slider {
    background-color: #243b8a;
}

.toggle-switch input:checked + .toggle-slider::before {
    transform: translateX(18px);
}

.badge.blue { background-color: #dbeafe; color: #243b8a; border: 1px solid #243b8a; }
.badge.purple { background-color: #f3e8ff; color: #9333ea; border: 1px solid #9333ea; }
.badge.green { background-color: #d1fae5; color: #10b981; border: 1px solid #10b981; }

.permissao { color: #bbb; font-size: 13px; }

.acoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.overlay.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: #fff;
    width: 500px;
    border-radius: 12px;
    overflow: hidden;
}

.modal-header {
    background: #1E3A8A;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-body {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group.center {
    grid-column: 1 / -1;
    align-items: center;
    font-size: 20px;
}

.form-group input,
.form-group select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #0d1218;
    background-color: #fff;
}

.fechar-modal {
    cursor: pointer;
    font-size: 24px;
}

.modal-botao-cancelar {
    width: 100px;
    height: 30px;
    border: 1px solid #0d1218;
    border-radius: 10px;
    cursor: pointer;
}

.modal-botao-confirmar {
    background-color: #455881;
    color: white;
    border: 1px solid #0d1218;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.modal-botao-deletar {
    background-color: #C42929;
    color: white;
    border: 1px solid #0d1218;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px;
}

.modal-footer.center {
    align-items: center;
}