<aside class="sidebar">
    <header class="sidebar-header">
        <img src="/assets/icons/logo.png" alt="Logo">
        <span>Conexão Acadêmica</span>
    </header>

    <nav class="sidebar-main">

        <a href="/pages/dashboard.html" class="link-box">
            <img src="/assets/icons/dash-icon 1.svg" alt="Ícone Dashboard">
            <span>Dashboard</span>
        </a>

        <a href="/pages/metas.html" class="link-box">
            <img src="/assets/icons/flag-icon.svg" alt="Ícone Metas">
            <span>Metas</span>
        </a>

        <a href="/pages/regras.html" class="link-box">
            <img src="/assets/icons/regra-icon 1.svg" alt="Ícone Regras">
            <span>Regras</span>
        </a>

        <a href="/pages/conta.html" class="link-box">
            <img src="/assets/icons/person-icon 1.svg" alt="Ícone Conta">
            <span>Conta</span>
        </a>

    </nav>

    <footer class="sidebar-footer">
        <img src="/assets/icons/logout-icon 1.svg" alt="Logout">
        <span>Sair</span>
    </footer>
</aside>